@import '~styles/colors';
@import '~styles/ui';
@import '~styles/eases';

.container {
	appearance: none;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	min-width: 150px;
	background: transparent;
	cursor: pointer;
	font-size: 20px;
}

.container:hover .box {
	color: $alizarin-crimson;
	background: white;
}

.container:hover:not(:active) .box {
	transform: translateY(-3px) scale(1.025);
	box-shadow: -1px 4px 12px rgba(black, .5);
}

.container:active .box {
	opacity: .8;
}

.box {
	position: relative;
	z-index: 1;
	padding: 15px;
	border-radius: $border-radius-s;
	background: $alizarin-crimson;
	font-size: inherit;
	font-family: 'AzoSansBold';
	text-transform: uppercase;
	line-height: 1;
	color: white;
	transition:
		color .15s $principleDefaultEase,
		background .15s $principleDefaultEase,
		transform .15s $principleDefaultEase,
		opacity .15s $principleDefaultEase;
}
