// Breakpoint sass
@import '~breakpoint-sass/stylesheets/breakpoint';

// The responsive breakpoints
$mobile: (max-width 640px);

$above-mobile: (min-width 641px);

$tablet-portrait-and-below: (max-width 820px);

$tablet-portrait-and-above: (min-width 641px);

$tablet-portrait: (min-width 641px) (max-width 820px);

$tablet-landscape: (min-width 821px) (max-width 1200px);

$tablet-landscape-and-below: (max-width 1200px);

$tablet-landscape-and-above: (min-width 821px);

$tablet: (min-width 641px) (max-width 1200px);

$desktop: (min-width: 1201px);
