/** Fonts **/
@font-face {
    font-family: 'ElaineD02';
    src: url(fonts/elaine-d02.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansBlack';
    src: url(fonts/azo-sans-black.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansBold';
    src: url(fonts/azo-sans-bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansLight';
    src: url(fonts/azo-sans-light.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansMedium';
    src: url(fonts/azo-sans-medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AzoSansRegular';
    src: url(fonts/azo-sans.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
