@import '~styles/colors';

.container {
	width: 100%;
	min-height: 250px;
	background: $vulcan;
}

.resizer {
	//Desktop
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1440px;
	padding: 40px 20px;
	box-sizing: border-box;
	height: 100%;
}

.step {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.call-to-action {
	font-size: 80px;
	margin-left: 10%;
	margin-right: 4.8%;
	margin-top: 30px;
}

.form {
	flex: 1;
}

.email {
	order: 1;
	margin-right: 20px;
}

.opt-in {
	order: 3;
	padding-right: 10%;
	box-sizing: border-box;
}

.email,
.opt-in {
	flex-grow: 1;
	max-width: 480px;
}

.form-label {
	flex-basis: 100%;
	font-size: 24px;
	margin-bottom: 20px;
}

.email,
.first-name,
.last-name {
	font-size: 24px;
	margin-top: 3px;
}

.first-name,
.last-name {
	max-width: 235px;
}

.first-name {
	margin-right: 10px;
}

.last-name {
	margin-right: 20px;
}

.submit-button {
	order: 2;
}

.sign-up-complete {
	align-self: flex-end;

	.first-line {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.second-line {
		font-size: 26px;
	}

	.first-line,
	.second-line {
		display: block;
	}
}

/*
@media (max-width:320px) {
	// mobile
}
@media (min-width:321px) and (max-width:768px) {
	// tablet portrait
}
@media (min-width:769px) and (max-width:1023px) {
	// tablet landscape
}
@media (min-width:1024px) and (max-width:1279px) {
	// laptop
}
@media (min-width:1280px) {
	// wide screen
}
*/

