@import '~styles/colors';
@import '~styles/breakpoints';

.container {
	width: 100%;
	background: $vulcan;
}

.resizer {
	//Desktop
	display: flex;
	margin: 0 auto;
	max-width: 1440px;
	box-sizing: border-box;
	height: 100%;
}

.step {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.form-label {
	width: 100%;
}

.email {
	order: 1;
}

.opt-in {
	order: 3;
}

.submit-button {
	order: 2;
}

.email,
.opt-in,
.first-name,
.last-name {
	box-sizing: border-box;
}

.sign-up-complete {
	.first-line,
	.second-line {
		display: block;
	}
}

//
@include breakpoint($mobile) {
	.resizer {
		height: 320px;
	}

	.call-to-action {
		font-size: 36px;
	}

	.step {
		align-items: center;
	}

	.form-label {
		font-size: 16px;
		margin-bottom: 12px;
	}

	.email,
	.submit-button {
		width: 100%;
	}

	.first-name {
		padding-right: 10px;
	}

	.email,
	.first-name,
	.last-name {
		font-size: 14px;
	}

	.opt-in {
		width: 100%;
		padding: 0 10px;
		margin-top: 8px;
	}

	.sign-up-complete {
		margin-top: 10px;

		.first-line {
			max-width: 240px;
			font-size: 24px;
			margin-bottom: 26px;
		}
		.second-line {
			max-width: 260px;
			font-size: 18px;
		}
	}
}

@include breakpoint($above-mobile) {
	.email,
	.first-name,
	.last-name {
		padding-top: 2px;
	}

	.email,
	.opt-in {
		padding-right: 20px;
	}
}

@include breakpoint($tablet-portrait-and-below) {
	.container.step-3 .resizer{
		justify-content: center;
	}

	.resizer {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.call-to-action {
		margin-bottom: 10px;
	}

	.form {
		width: 100%;
	}

	.form-label {
		text-align: center;
	}

	.first-name,
	.last-name {
		flex: 1;
	}

	.sign-up-complete {
		text-align: center;
	}
}

@include breakpoint($tablet-landscape-and-above) {
	.resizer {
		flex-direction: row;
		height: 240px;
		padding: 40px 20px;
	}

	.call-to-action {
		margin-left: 8%;
		margin-right: 4%;
		margin-top: 30px;
	}

	.form {
		flex: 1;
	}

	.step {
		align-items: flex-start;
	}

	.email,
	.opt-in {
		flex-grow: 1;
		max-width: 480px;
	}

	.form-label {
		margin-bottom: 20px;
	}

	.opt-in {
		padding-right: 10%;
	}

	.sign-up-complete {
		align-self: center;

		.first-line {
			font-size: 32px;
			margin-bottom: 10px;
		}
		.second-line {
			font-size: 26px;
		}
	}
}

@include breakpoint($tablet-portrait-and-above) {
	.first-name,
	.last-name {
		max-width: 235px;
	}

	.first-name {
		padding-right: 10px;
	}

	.last-name {
		padding-right: 20px;
	}
}

@include breakpoint($tablet-portrait) {
	.resizer {
		max-width: 600px;
		height: 260px;
	}

	.step {
		align-items: flex-start;
	}

	.call-to-action {
		font-size: 50px;
	}

	.form-label {
		margin-bottom: 12px;
	}

	.email,
	.opt-in {
		width: 70%;
	}

	.sign-up-complete {
		.first-line {
			font-size: 28px;
			margin-bottom: 15px;
		}
		.second-line {
			font-size: 20px;
		}
	}
}

@include breakpoint($tablet-landscape) {
	.call-to-action {
		font-size: 60px;
	}
}

@include breakpoint($tablet) {
	.form-label {
		font-size: 20px;
	}
}

@include breakpoint($desktop) {
	.call-to-action {
		font-size: 80px;
	}

	.form-label {
		font-size: 24px;
	}
}
