@import '~styles/colors';
@import '~styles/ui';


.input {
	width: 100%;
	appearance: none;
	outline: none;
	border: transparent 1px solid;
	padding: 8px 25px;
	border-radius: $border-radius-s;
	font-family: 'AzoSansRegular';
	line-height: 1.3;
	font-size: inherit;
	box-sizing: border-box;

	&::placeholder {
		color: inherit;
		opacity: .4;
	}
}

.lighter {
	background: rgba(white, .1);
	color: $nepal;
}
