@import '~styles/colors';
@import '~styles/ui';
@import '~styles/breakpoints';

.input {
	width: 100%;
	appearance: none;
	outline: none;
	border: none;
	border-radius: $border-radius-s;
	font-family: 'AzoSansRegular';
	line-height: 1.3;
	box-sizing: border-box;

	&::placeholder {
		color: inherit;
		opacity: .4;
	}
}

.lighter {
	background: rgba(white, .1);
	color: $nepal;
}

@include breakpoint($mobile) {
	.input {
		padding: 11px 15px;
		font-size: 14px;
	}
}

@include breakpoint($above-mobile) {
	.input {
		padding: 7px 25px;
		font-size: 24px;
	}
}