@import '~styles/colors';

.container {
	width: 100%;
	height: 250px;
	background: $vulcan;
}

.resizer {
	//Desktop
	margin: 0 auto;
	max-width: 1440px;
	padding: 40px;
	box-sizing: border-box;
	height: 100%;
}

.step {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.call-to-action {
	font-size: 80px;
	margin-left: 10%;
	margin-right: 4.8%;
}

.action-container {
	flex: 1;
}

.form-label {
	font-size: 24px;
	margin-bottom: 25px;
}

.email-input,
.name-input {
	flex: 1;
	font-size: 24px;
	margin-right: 10px;
}

.email-input {
	max-width: 480px;
}

.name-input {
	max-width: 235px;
}

.submit-button {
	margin-left: 10px;
}

.input-group {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.thank-you {
	h2 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	p {
		font-size: 26px;
	}
}


