@import '~styles/colors';

.container.invalid input:invalid {
	background: rgba($alizarin-crimson, .15);

	& ~ .message {
		display: block;
	}
}

.input {

}

.message {
	margin-top: 5px;
	display: none;
}
