@import '~styles/colors';

.container.invalid input:invalid {
	background: rgba($alizarin-crimson, .15);

	& ~ .message {
		visibility: inherit;
	}
}

.message {
	margin-top: 5px;
	visibility: hidden;
}
