@import '~styles/colors';

.checkbox {
	width: 12px;
	height: 12px;
	border-radius: 3px;
	background-color: white;
	border: 1px solid rgba(black, .5);
	box-sizing: border-box;
	cursor: pointer;
	appearance: none;
	outline: none;

	&:checked {
		background-image: url(images/checkmark.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}
}

.label {
	width: calc(100% - 12px);
	padding-left: 10px;
	box-sizing: border-box;
	font-family: 'AzoSansLight';
	font-size: 12px;
	line-height: 1.3;
	color: $jumbo;

	a {
		text-decoration: underline;
		color: inherit;

		&:focus {
			color: white;
			outline: none;
		}
	}
}

.checkbox,
.label {
	display: inline-block;
	vertical-align: text-top;
}
