@import '~styles/colors';

.checkbox {
	appearance: none;
	outline: none;
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	background-color: white;
	border: 1px solid #9B9B9B;
	box-sizing: border-box;
	cursor: pointer;

	&:checked {
		background-image: url(images/checkmark.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}
}

.label {
	font-family: 'AzoSansLight';
	font-size: 12px;
	line-height: 1.16;
	color: $jumbo;

	a {
		text-decoration: underline;
		color: inherit;
	}
}
